{% extends 'layout.html' %}
{% block body %}

<form action="{{ url_for('recap') }}" method=get>
    <fieldset>
        <legend>Get 2-day recap for a location</legend>
        <label for="location">Location</label>
        <select name="location">
        {% for loc in locations %}
        {% if default == loc %}
            <option selected="selected">{{ loc }}</option>
        {% else %}
            <option>{{ loc }}</option>
        {% endif %}
        {% endfor %}
        </select>
        <div class="submit"><input type="submit" value="Submit" /></div>
    </fieldset>
</form>

<form action="{{ url_for('previous_forecasts') }}" method=get>
    <fieldset>
        <legend>See previous forecasts</legend>
        <label for="fcast_location">Location</label>
        <select name="fcast_location">
        {% for loc in fcastLocations %}
            <option>{{ loc }}</option>
        {% endfor %}
        </select>
        <div class="submit"><input type="submit" value="Submit" /></div>
    </fieldset>
</form>

{% endblock %}
